*{
    margin: 0px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D6E4E5;
}

.innerContainer{
    text-align: center;
    background-color: #497174;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    color: white;
}