*{
    margin: 0px;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FCFDF2;
}

.innerDiv{
    text-align: center;
    background-color: #3B3486;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    color: white;
}