*{
    margin: 0px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CFF5E7;
}

.innerContainer{
    text-align: center;
    background-color: #0D4C92;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    color: white;
}